.roofpig {
    width: 200px;
    height: 200px;
    background: radial-gradient(#C0C0C0,#101010);
    margin-bottom: 40px;
    float: left;
}

.clearboth {
    clear: both;
}

.note {
    margin-left: 20px;
    color: #808080;
}

body {
    margin: 5px;
}